img:first-of-type {
    position: relative;
    left: 100px;
    top: 50px
}

img:nth-of-type(2){
    position: absolute;
    right: 10px;
    top: 15px;
}

a {
    position: fixed;
    bottom: 50px;
    right:  100px;

}