body{
    background-color: lightgray;
    text-align: center;
}
div{
    background-color: white;
    width: 600px;
    height: 800px;
    margin: 20px auto;
    padding: 5px;
    border-radius: 8px;
}
input{
    background-color: white;
}

p {
    width: fit-content;
    padding: 3%;
    border-radius: 5px;
    background-color: skyblue;
    color: white;
    font-size: 1.2em;

}
#send1{
    background-color: red;
    padding: 10px 20px;
    border-style: none;
    border-radius: 5px;
    color: seashell;
    font-size: 1.5em;
}
#id_of_textbox{
    padding: 10px;
    border-radius: 5px;
    font-size: 1.5em;
   
}