* {
    text-align: center;
    margin: 20px auto;
}

input {
    background-color: darkred;
    color: white;
    font-size: 2em;
    border-style: none;
    padding: 15px;
}

input:nth-of-type(2) {
    background-color: orange;
}

.blue {
    background-color: rgb(36, 36, 68);
}