* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-weight: 300;
}

main {
    margin-top: 4%;
}

.container {
    padding: 5%;
    width: 100%;
}

header img {
    width: 100%;
    border: 1px solid darkgray;
    padding: 2%;
    border-radius: 3px;
    margin: 3% 0;
}

ul {
    list-style-type: none;
    border: 1px solid darkgray;
    border-radius: 3px;
}

li {
    padding: 3%;
    text-align: center;
}

li:nth-of-type(2) {
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
}

li:hover {
    background-color: rgb(63, 110, 185);
    color: white;
    border-radius: 3px;
}

article img {
    width: 100%;
}

article {
    border: 1px solid darkgray;
    border-radius: 3px;
    margin-bottom: 3%;
    padding: 2%;
}

p {
    margin: 5% 0;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    h1 {
        float: left;
    }
    nav {
        position: absolute;
        right: 5%;
        top: 6%;
        width: 50%;
        text-align: right;
    }

    ul{
        border:0;
    }
    li {
        display: inline;
        border: 0 !important;
        border-radius: 3px;
        color: rgb(63, 110, 185);
    }
    article img {
        width: 30%;
        float: left;
        margin-right: 15px;
    }
    article {
        overflow: hidden;
        padding: 1%;
    }
    p {
        margin: 0;
    }
}

@media only screen and (min-width: 992px) {
    article img {
        width: 100%;
        float: none;
        margin-right: 0;
    }
    article {
        width: 33%;
        padding: 1%;
        display: inline-block;
        border: 0;
    }
}